// Widescreens
@include xlarge{
    .projects{
        grid-template-columns: repeat(4, ifr);
    }
}

// Large screens (Desktops & Laptops)
@include large{
    .projects{
        grid-template-columns: repeat(3, ifr);
    }
}

// Medium screens (Tablets & Mini-laptops)
@include medium{
    main {
        align-items: center;
        text-align: center;

        .bigHeading{
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menuNav, div.menuBranding {
        float: none;
        width: 100%;
        min-height: 0;

        &.show{
            transform: translate3d(0,0,0);
            -webkit-transform: translate3d(0,0,0);
            -moz-transform: translate3d(0,0,0);
            -ms-transform: translate3d(0,0,0);
            -o-transform: translate3d(0,0,0);
        }
    }

    .menuNav{
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menuBranding{
        height: 25vh;
        transform: translate3d(100%, 0, 0);
        -webkit-transform: translate3d(100%, 0, 0);
        -moz-transform: translate3d(100%, 0, 0);
        -ms-transform: translate3d(100%, 0, 0);
        -o-transform: translate3d(100%, 0, 0);

        .portrait {
            background: url('../images/portrait_small.jpg');
            height: 150px;
            width: 150px;
        }
    }

    .aboutInfo{
        grid-template-areas: 
            'bioImage'
            'bio'
            'job1'
            'job2'
            'job3';
        grid-template-columns: 1fr;

        .bioImage{
            grid-area: bioImage;
        }

        .bio{
            grid-area: bio;
        }

        .job1{
            grid-area: job1;
        }

        .job2{
            grid-area: job2;
        }

        .job3{
            grid-area: job3;
        }
    }

    .projects{
        grid-template-columns: repeat(2, 1fr);
    }

    .boxes{
        flex-direction: column;
    }
}

// Smartphones
@include small{
    main{
        padding: 2rem;

        #home h1{
            margin-top: 10vh;
        }

        .bigHeading{
            font-size: 5rem;
            margin-top: 1rem;
        }
    }

    .projects {
        grid-template-columns: 1fr;
    }

    .boxes{
        flex-direction: column;

        .div{
            font-size: 1rem;
            padding: 0.75rem;
        }
    }
}
